body {
    background-color: lightsteelblue;
    width: 500px;
}

#field-background {
    position: relative;
    top: 30px;
    left: 30px;
    width: 400px;
    height: 400px;
    background-color: forestgreen;
}

.field-horiz {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: repeating-linear-gradient( 0deg, white 0px, white 3px, rgba(0,0,0,0) 3px, rgba(0,0,0,0) 40px);
    opacity: 0.6;
}

.field-vert {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: repeating-linear-gradient( 90deg, white 0px, white 3px, rgba(0,0,0,0) 3px, rgba(0,0,0,0) 40px);
    opacity: 0.6;
}

#snake-head {
  position: absolute;
  top: 3px;
  left: 6px;
  height: 32px;
  width: 32px;
  background-color: orange;
  border-radius: 50%;
  visibility: hidden;
  z-index: 2;
}

.snake-body {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: orange;
  border-radius: 50%;
}

#apple {
  position: absolute;
  background-image: url("apple.png");
  height: 32px;
  width: 32px;
  visibility: hidden;
}

#button-container {
  display: flex;
  position: relative;
  top: 40px;
  left: 30px;
}

.start-button {
  width: 80px;
  height: 25px;
  background-color: #efffef;
  border-color: forestgreen;
  border-style: solid;
  cursor: pointer;
}


.options-button {
  position: relative;
  left: 10px;
  width: 80px;
  height: 25px;
  background-color: #efffef;
  border-color: forestgreen;
  border-style: solid;
  cursor: pointer;
}

#option-screen {
  display: flex;
  position: absolute;
  top: 38px;
  left: 38px;
  height: 400px;
  width: 400px;
  background-color: forestgreen;
  z-index: 3;
  visibility: hidden;
}

#option-form {
  height: 360px;
  width: 360px;
  margin: 20px;
}

#error-screen {
  position: absolute;
  left: 460px;
  top: 38px;
  width: 300px;
  height: 100px;

}
