:root{
    --field-top: 12.5vmin;
    --field-left: 12.5vmin;
    --field-side: 75vmin;
}

body {
    background-color: lightsteelblue;
}

.field-background {
    position: relative;
    top: 12vmin;
    left: 12vmin;
    width: 75vmin;
    height: 75vmin;
    background-color: forestgreen;
}

.field-horiz {
    position: absolute;
    top: 0;
    left: 0;
    width: 75vmin;
    height: 75vmin;
    background: repeating-linear-gradient( 0deg, white 0vmin, white 0.5vmin, rgba(0,0,0,0) 0.5vmin, rgba(0,0,0,0) 7.5vmin);
    opacity: 0.6;
}

.field-vert {
    position: absolute;
    top: 0;
    left: 0;
    width: 75vmin;
    height: 75vmin;
    background: repeating-linear-gradient( 90deg, white 0vmin, white 0.5vmin, rgba(0,0,0,0) 0.5vmin, rgba(0,0,0,0) 7.5vmin);
    opacity: 0.6;
}

.snake-head {
  position: absolute;
  top: 0.5vmin;
  left: 1vmin;
  height: 6vmin;
  width: 6vmin;
  background-color: orange;
  border-radius: 50%;
  visibility: hidden;
}


.start-button {
    position: absolute;
    left: 95vmin;
    top: 12.5vmin;
    
}

@media (orientation:portrait) {
    .start-button {
	top: 95vmin;
	left: 12.5vmin;
    }

}
