body {
    background-color: lightsteelblue;
}

#field-background {
    position: relative;
    top: 30px;
    left: 30px;
    width: 400px;
    height: 400px;
    background-color: forestgreen;
}

.field-horiz {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: repeating-linear-gradient( 0deg, white 0px, white 3px, rgba(0,0,0,0) 3px, rgba(0,0,0,0) 40px);
    opacity: 0.6;
}

.field-vert {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: repeating-linear-gradient( 90deg, white 0px, white 3px, rgba(0,0,0,0) 3px, rgba(0,0,0,0) 40px);
    opacity: 0.6;
}

#snake-head {
  position: absolute;
  top: 3px;
  left: 6px;
  height: 32px;
  width: 32px;
  background-color: orange;
  border-radius: 50%;
  visibility: hidden;
}

.snake-body {
  position: absolute;
  height: 32px;
  width: 32px;
  background-color: orange;
  border-radius: 50%;
}

#apple {
  position: absolute;
  background-color: red;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  visibility: hidden;
}


.start-button {
    position: absolute;
    left: 95vmin;
    top: 12.5vmin;
    
}

@media (orientation:portrait) {
    .start-button {
	top: 95vmin;
	left: 12.5vmin;
    }

}
