:root {
  --change-screen-size: 850px;
}

body{
  margin: 0px;
  background-color: #ffdce1;
}

/*
  Header
*/
header {
  background-color: #d4f3e5;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0;
}

@media (min-width: 850px) {
  header{ 
    height: 50vh;
  }

  header h1 {
    line-height: 30vh;
    font-size: 4em;
  }

  header h2 {
    line-height: 15vh;
    font-size: 1.7em;
  }
}

@media (max-width: 850px) {
  header {
    font-size: 2em;
    height: 33vh;
  }

    header h1 {
      font-size: 1.6em;
      padding-top: 1em;
    }

    header h2 {
      font-size: 1em;
      padding-top: 0.6em;
    }
}
/*
  Navbar
*/
nav{
  position: sticky;
  top: 0;
  display: flex;
  background-color: #ffdce1;
  height: 50px;
  z-index: 2;
}

.nav-tab{
  width: 20vw;
  text-align: center;
  padding: 0 0.5em 0 0.5em;
  text-decoration: none;
  color: #000;
  line-height: 50px;

}

.nav-tab:hover{
  background-color: #fffafa;
}

/*
  Sale banner
*/
.sale-banner {
  text-align: center;
  margin: 0;
}

#sale-winter{
  background: repeating-linear-gradient(45deg, #d4e2f3, white 20px, #d4e2f3 20px);
  background-color: red;
}

#sale-sweater {
  background-color: lightpink;
}

.sale-textbox{
  background-color: rgba(255,255,255,0.9);
}

.sale-text {
  margin: 0;
}

@media (min-width:850px) {
  .sale-container {
    display: flex;
  }

  .sale-banner {
    width: 50%;
  }

  #sale-winter {
    height: 34vw; /*From picture aspect ratio*/
  }

    #sale-winter .sale-textbox {
      height: 24vw;
    }

  #sale-hoodie {
    height: 37.5vw;
  }

    #sale-hoodie .sale-textbox {
      height: 27.5vw;
    }

  .sale-textbox {
    width: 40vw;
    margin: 5vw;
  }

  .sale-text {
    padding: 8vw 0 0 0;
  }

  .sale-text-large {
    padding: 3vw 0 0 0;
    font-size: 1.5em;
  }

  .goat-photo {
    width: 50%;
    height: auto;
  }
}

@media (max-width:850px) {
  .sale-container {
    display: grid;
    grid-template-columns: 1vw;
  }

  .sale-banner {
    width: 100vw;
    height: 68vw; /*From picture aspect ratio*/
  }

  .sale-textbox {
    height: 48vw;
    width: 80vw;
    margin: 10vw;
  }

  .sale-text {
    padding: 8vw 0 0 0;
  }

  .sale-text-large {
    padding: 3vw 0 0 0;
    font-size: 1.5em;
  }

  .goat-photo {
    width: 100vw;
    height: auto;
  }
}

/*
  Product Grid
*/
.product-grid {
  display: grid;
  justify-items: center;
}

@media (min-width:850px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3.33vw;
    grid-row-gap: 5vh;
    margin: 5% 3.33%;
  }
}

@media (max-width: 850px) {
  .product-grid{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
    margin: 5% 2%;
  }
}

.product-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #fffafa;
}

.product-text-container {
  position: absolute;
  top: 85%;
  padding-top: 15%;
  width: 100%;
  background-color: #d4f3e5;
}

.product-text {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}

.product-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.add-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 85%;
  background-color: black;
  opacity: 0;
  z-index: 1;
}

.add-cart:hover {
  cursor: pointer;
  opacity: 0.6;
}

.add-cart-text {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
}