body {
    margin: 0;
    background-color: #137dff;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    font-size: 1.7em;
}

p {
    margin: 0;
}

#search-container {
    background-color: #ffe313;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.6);
}

#search-box {
    margin: 0 10px 0 20px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1.5px;
    font-size: 0.8em;
}

button {
    background-color: white;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1.5px;
    font-size: 0.8em;
    border: 2.9px solid #137dff;
}

button:hover {
    background-color: #137dff;
}

#num-results-container{
    display: flex;
    align-items: center;
}

#num-results {
    margin: 0 20px 0 10px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 1.5px;
    font-size: 0.8em;
}

#results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif-result {
    margin: 5px;
}

#load-container {
  display: flex;
  justify-content: center;
}

#load-button {
  visibility: hidden;
  border-color: #ffe313;
}

#load-button:hover {
  background-color: #ffe313;
}